@import url("https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap");

* {
  padding: 0;
  margin: 0;
}

::-webkit-scrollbar{
  width: 10px;
}

::-webkit-slider-thumb {
  background: rgb(238, 9, 9); 
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #b30000; 
}

body {
  font-family: Century Gothic;
  background: linear-gradient(60deg, #d67575 5.5%, #885ecc 55%, #d14848);
  background-repeat: no-repeat;
  height: 100vh;
  color: #fff;
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
}

.navbar-toggler,
.navbar-toggler:focus {
  border: none;
  box-shadow: none;
}

.navbar {
  border-radius: 30px;
}

.navbar .navbar-brand{
  background: -webkit-linear-gradient(60deg, #ff0202, #0206ff);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 20px;
  padding: 2px;
  font-weight: 900;
  /* -webkit-text-fill-color: transparent; */
}

.navbar-toggler-icon {
  font-size: 1rem;
}

.offcanvas-body .nav-link {
  color: #000;
  font-weight: 100;
  margin-left: 50px;
  border-radius: 20px;
  text-align: center;
  font-weight: 500;
}

/* .offcanvas-body .nav-link.active {
  background-color: #000;
  color: #fff;
} */

.offcanvas {
  background-color: #fff;
  color: #000;
  font-size: 30px;
  line-height: 90px;
}
.offcanvas-title {
  font-weight: 100;
}

.btn-close{
  font-size: 22px;
  color: #000;
}

/* .homeImage img {
  height: 30rem;
  border-radius: 0px;
  filter: grayscale(100);
} */
.homeText {
  font-size: 17px;
  padding: 20px;
  text-align:center;
  justify-content: center;
  align-items: center;
}
.homeText span {
  padding: 1px;
  font-family: Century Gothic;
}
.homeText h1 {
  text-transform: capitalize;
  margin-top: -5px;
  font-weight: 800;
  font-size: 80px;
  font-family: Century Gothic;
}

.homeText p:first-child{
  font-size: 19px;
  font-family: arial;
  letter-spacing: 5px;
  line-height: 0px;
}
.homeText p {
  line-height: 1.1;
  font-size: 25px;
  font-family: Century Gothic;
  font-weight: 100;
}
.homeText button {
  text-decoration: none;
  margin: 3px;
  padding: 8px;
  border: none;
  background-color: #d14848;
  color: #fff;
  font-size: 15px;
  letter-spacing: 1px;
  transition: 0.7s;
  border: 1px solid #fff;
  font-family: Century Gothic;
}
.homeText button:hover {
  background-color: #885ecc;
  color: #fff;
}

.whatido h1 {
  text-align: center;
}
.whatido .nav button {
  background-color: none;
  color: #000;
  margin: 2px;
}

.whatido .nav-pills .nav-link.active {
  background-color: rgb(213, 218, 218);
  color: #000;
}

.whatido .row {
  justify-content: center;
  text-align: center;
  align-items: center;
}

.whatido img {
  height: 400px;
}

.letstalk {
  padding: 20px;
  background-color: black;
  color: #fff;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.letstalk p {
  font-size:25px;
}

.letstalk span {
  text-decoration: underline;
  cursor: pointer;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}

.letstalk h1 {
  font-size: 90px;
  line-height: 120px;
  font-family: Century Gothic;
  letter-spacing: 20px;
}

.letstalk .icon i:first-child {
  font-size: 30px;
  padding: 10px;
  background: -webkit-linear-gradient(rgb(188, 12, 241), rgb(212, 4, 4));
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.letstalk .icon i:last-child {
  font-size: 30px;
  padding: 10px;
  background: -webkit-linear-gradient(rgb(12, 130, 241), rgb(66, 4, 212));
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.about {
  padding: 25px;
}

.about img {
  height: 400px;
  border-radius: 2px;
  text-align: center;
  justify-content: center;
}

.about h1 {
  font-size: 100px;
}
.about p{
  justify-content: start;
  align-items: flex-start;
  text-align: start;
  letter-spacing: 1px;
  font-size: 20px;
  line-height: 29px;
}



