@import url("https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap");

* {
  padding: 0;
  margin: 0;
}

::-webkit-scrollbar{
  width: 10px;
}

::-webkit-slider-thumb {
  background: rgb(238, 9, 9); 
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #b30000; 
}

body {
  font-family: Century Gothic;
  /* background: linear-gradient(165deg, #070707 54.5%, #333330 55%); */
  background-color: #000;
  color: #fff;
}

.navbar-toggler,
.navbar-toggler:focus {
  border: none;
  box-shadow: none;
}

.navbar {
  border-radius: 30px;
}

.navbar-toggler-icon {
  font-size: 1rem;
}

.offcanvas-body .nav-link {
  color: #fff;
  font-weight: 100;
  margin-left: 50px;
  border-radius: 20px;
  text-align: center;
  font-weight: 500;
}

.offcanvas-body .nav-link.active {
  background-color: #fff;
  color: #000;
}

.offcanvas {
  height: 50%;
  padding: 2px;
  margin: 9px;
  border-radius: 8.2px;
  background-color: black;
  color: #fff;
  margin-right: 70px;
}
.offcanvas-title {
  font-weight: 100;
}

/* .homeImage img {
  height: 30rem;
  border-radius: 0px;
  filter: grayscale(100);
} */
.homeText {
  font-size: 17px;
  margin-bottom: 10px;
  padding: 20px;
  /* position: absolute; */
}
.homeText span {
  padding: 1px;
  font-family: Century Gothic;
}
.homeText h1 {
  /* font-family: Century Gothic; */
  text-transform: capitalize;
  margin-top: -5px;
  font-weight: 800;
  font-size: 80px;
  font-family: Century Gothic;
}
.homeText p {
  line-height: 1.1;
  font-size: 25px;
  font-family: Century Gothic;
  font-weight: 100;
}
.homeText button {
  text-decoration: none;
  margin: 3px;
  padding: 8px;
  border: none;
  background-color: #000;
  color: #fff;
  font-size: 15px;
  letter-spacing: 1px;
  transition: 0.7s;
  border: 1px solid #fff;
  font-family: Century Gothic;
}
.homeText button:hover {
  background-color: #bdb8b8;
  color: #000;
}

.whatido h1 {
  text-align: center;
}
.whatido .nav button {
  background-color: none;
  color: #000;
  margin: 2px;
}

.whatido .nav-pills .nav-link.active {
  background-color: rgb(213, 218, 218);
  color: #000;
}

.whatido .row {
  justify-content: center;
  text-align: center;
  align-items: center;
}

.whatido img {
  height: 400px;
}

.letstalk {
  padding: 20px;
  background-color: black;
  color: #fff;
  margin: 20px;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.letstalk p {
  text-align: center;
  font-size: 1.5rem;
}

.letstalk span {
  text-decoration: underline;
  cursor: pointer;
}

.letstalk h1 {
  text-align: center;
  align-items: center;
  justify-content: center;
  font-size: 9rem;
  line-height: 120px;
  font-family: Century Gothic;
  letter-spacing: 20px;
}

.letstalk .icon i:first-child {
  font-size: 30px;
  padding: 10px;
  background: -webkit-linear-gradient(rgb(188, 12, 241), rgb(212, 4, 4));
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.letstalk .icon i:last-child {
  font-size: 30px;
  padding: 10px;
  background: -webkit-linear-gradient(rgb(12, 130, 241), rgb(66, 4, 212));
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.about {
  padding: 25px;
}

.about img {
  height: 30em;
  border-radius: 2px;
}

.about h1 {
  font-size: 100px;
}





body {
  overflow:hidden;
  background: black;
}

#canvas {
  position: fixed;
  /* top: 0;
  left: 0; */
  /* width: 100%;
  height: 100%; */
}











.credits {
  position: absolute;
  bottom: 10px;
  left: 10px;
  color: #fff;
  font-size: 5px;
  font-family: cursive;
}

.heart {
  color: red;
}

.credits a {
  color: #00a2ff;
  text-decoration: none;
}

.credits a:hover {
  text-decoration: underline;
}